#product{
	font-family: Sitka Text Semibold;
	font-size: 100px;
}
#productname{
	font-family: Sitka Text Semibold;
}
#productcategory{
	font-family: Sitka Display;
	font-size: 25px;
}
#productprice{
	font-family: calibri;
	font-size: 50px;
	font-weight: bold;
}
#productdescription{
	font-family: calibri;
	font-size: 22px;
}
